<div class="container">
  <div class="row">
    <div class="col-sm-12 my-5">
    <p></p>
      <div class="container">
        <div class="row">
          <div class="col-xs-3">
            <h2 class="mb-5 font-weight-bold bg-light">会員編集情報</h2>
          </div>
         </div>
      </div>
      <%= form_with model: @customer, url: customers_path ,local: true do |f| %>
        <div class="field">

        </div>
        <div class="field">

        </div>
        <div class="field">

        </div>
        <div class="field">

        </div>
        <div class="field">

        </div>
        <div class="field">

        </div>
        <div class="actions btn-toolbar text-center mt-3">

        </div>
      <% end %>
    </div>
  </div>
</div>