<div class="container">
  <div class="row">
    <div class="col-sm-6 my-5">
    <p class="text-success">
      <%= flash[:success] %>
    </p>
    <div class="container">
      <div class="row">
        <div class="col-xs-3">
          <h2 class="mb-5 font-weight-bold bg-light">マイページ</h2>
        </div>
      </div>
    </div>

    </div>
  </div>
</div>