<!--後ほど、Bootstrapでレイアウト調整する-->
<h2>商品一覧</h2>
<div>
  <div>
    新規商品登録
    <table>
      <thead>
        <tr>
          <th>商品ID</th>
          <th>商品名</th>
          <!-- 任意実装<th>ジャンル</th>-->
          <th>税抜価格</th>
          <!-- 任意実装<th>販売ステータス</th>-->
        </tr>
      </thead>
    </table>
  </div>
  <div><%= paginate(@items) %></div>
</div>