<div>
  <div>
    <h2>商品新規登録</h2>
    <!-- form_with -->
    <%= form_with model: @item, local: true do |f| %>
    <div>
      <div class="img.field"></div>
    </div>
    <div>
      <div>
      </div>
    </div>
    <% end %>
  </div>
</div>