<h2>商品詳細</h2>
<div>
  <div>
    <div>
      <div>
        <%= attachment_image_tag(@item, :image, size: "300x230", fallback: "no_image.jpg") %>
      </div>
    </div>
    <div>
      <div>
        <p>商品名 <%= @item.name %></p>
      </div>
      <br>
      <div>
        <p>商品説明 <%= @item.introduction %></p>
      </div>
      <br>
      <div>
        <p>ジャンル <%= @item.genre.name %></p>
      </div>
      <br>
    </div>
  </div>
</div>