<body>
  <main class="mx-auto" style="width: 460px;">
  <!--仮実装-->
	<div class="card" style="width: 460px;">
    <img class="card-img" src="assets/customer_top.jpg" alt="main caption" width="460" height="320">
    <div class="card-img-overlay">
      <p class="text-body bg-white">
        <span>ようこそ、ながのCakeへ！</span><br>
    		このサイトは、ケーキ販売のECサイトになります。<br>
    		会員でない方も商品の閲覧はできますが、<br>
    		購入には会員登録が必要になります。<br>
    	</p>
    </div>
  </div>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 position: relative;">
          <h2>新着商品</h2>
        </div>
      </div>
    </div>
  </main>
</body>