<body>
  <main class="mx-auto" style="width: 200px;">
    <img src="assets/customer_top.jpg" alt="main caption" width="300" height="200">
  </main>
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <p>
				  <span>ようこそ、ながのCakeへ！</span><br>
				  このサイトは、ケーキ販売のECサイトになります。<br>
				  会員でない方も商品の閲覧はできますが、<br>
				  購入には会員登録が必要になります。<br>
				</p>
      </div>
    </div>
  </div>
</body>
