<body>
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <main>
          <img src="assets/customer_top.jpg" alt="main caption" width="300" height="200">
        </main>
      </div>
    </div>
  </div>
</body>
