<div class="container">
  <div class="row">
    <div class = "col-sm-12">
      <div class="container">
        <div class="row">
          <div class="col-xs-3">
            <h2 class="font-weight-bold mt-5 bg-light">注文情報入力</h2>
          </div>
        </div>
      </div>
    <%= form_with model: @order, url: orders_confirm_path, local: true do |f| %>
      <strong>支払方法</strong>
      <div class="col-xs-10 radio ml-3">
        <%= f.radio_button :payment_method, :"クレジットカード", checked: true %>
        <span>クレジットカード</span>
      </div>
      <div class="col-xs-10 radio ml-3 mb-3">
        <%= f.radio_button :payment_method, :"銀行振込" %>
        <span>銀行振込</span>
      </div>
    <% end %>
    </div>
  </div>
</div>