<div class="container">
  <p class="text-success">
    <%= flash[:success] %>
  </p>
  <div class="d-flex justify-content-center align-items-center">
    <h2>
      ご注文ありがとうございました！
    </h2>
  </div>
</div>