<div>
  <div>
    <h2>
        <!--フルネーム(姓名)で表示させたいが実装方法が不明のため後ほど実装する-->
        <!--< %= customer.last_name + customer.first_name %>さんの会員情報編集-->
    </h2>

  <%= form_with model: @customer, lacal: true do |f| %>
    <div>
      <div>
        <%= f.label :"会員ID" %>
        <%= f.label :"#{@customer.id}" %>
      </div>
    </div>
  <% end %>
  </div>
</div>