<h2>注文履歴詳細</h2>
<div>
  <div>
    <div>
      <div>
        <div>
          購入者
        </div>
        <div>
          <%= @order.name %>
        </div>
      </div>

      <div>
        <div>
          注文日
        </div>
        <div>
          <%= @order.created_at %>
        </div>

      </div>
    </div>
  </div>
</div>