<div class="row">
  <div class="d-flex flex-row flex-wrap">
    <% @items.each do |item| %>
      <div class="card-deck mr-2 mb-5", style="width:25%">
        <div class="card">
          <div class ="item-image">
            <%= link_to item_path(item) do %>
              <p class="card-img-top">
                <%= attachment_image_tag item, :image, width: "100%", format: "jpg", fallback: "no_image.jpg" %>
              </p>
            <% end %>
          </div>
          <div class="card-body">
            <p class="card-title font-weight-bold">
              <%= item.name %>
            </p>
            <p class="item-price">
              <%= ((item.price*1.10).to_i).to_s(:delimited) %>円(税込）
            </p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>