<div class="container">
  <div class="row">
    <div class="col-xs-offset-1 col-xs-11">
      <h2 class="head-line title_h2 text-left bg-light">注文履歴一覧</h2>
     </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-10 col-xs-offset-1">
    <table class="table table-hover table-bordered table-condensed bg-light">
       <thead>
        <tr class="info">
          <th class="col-xs-3">購入日時</th>
          <th>購入者</th>
          <th class="col-xs-1">注文個数</th>
          <!--任意実装-->
          <!--<th>注文ステータス</th>-->
        </tr>
      </thead>
      <tbody>
        <% @orders.each do |order| %>
          <tr>
            <td>
              <%= link_to admin_order_path(:order) do %>
                <% order.created_at %>
              <% end %>
            </td>
            <td class="text-left">
              <!--フルネーム(姓名)で表示させたいが実装方法が不明のため後ほど実装する-->
              <!--氏名 < %= customer.last_name + customer.first_name %>-->
            </td>
            <td>
              <%= order.order_details.count %>
            </td>
            <td>
              <%= order.order_status %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
      <!--kaminari実装後にコメントアウトを解除する-->
      <!--<div>< %= paginate(@orders) %></div>-->
  </div>
</div>