<h2 class="head-line title_h2 text-center">注文履歴一覧</h2>
  <div class="row">
    <div>
      <div>
        <div>
          <table>
            <thead>
              <tr>
                <th>購入日時</th>
                <th>購入者</th>
                <th>注文個数</th>
                <th>注文ステータス</th>
              </tr>
            </thead>
            <tbody>
              <% @orders.each do |order| %>
                <tr>
                  <td>
                    <%= link_to admin_order_path(:order) do %>
                      <% order.created_at %>
                    <% end %>
                  </td>
                  <td>
                    <!--フルネーム(姓名)で表示させたいが実装方法が不明のため後ほど実装する-->
                    <!--氏名 < %= customer.last_name + customer.first_name %>-->
                  </td>
                  <td>
                    <%= order.order_details.count %>
                  </td>
                  <td>
                    <%= order.order_status %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      <!--kaminari実装後に「.page(params[:page]).per(10)」を記載-->
      <!--<div>< %= paginate(@orders) %></div>-->
    </div>
  </div>
</div>