<div class="container">
  <div class="row">
    <div class="col-sm-12 px-sm-0 mb-3">
      <div class="container">
        <div class="row">
          <div class="col-xs-3">
            <h2 class="font-weight-bold mt-5 mb-5 mx-3 bg-light">配送先編集</h2>
          </div>
        </div>
      </div>
      <%= form_with model: @address, url: address_path(@address.id), local:true do |f| %>
        <div class = "field">
          <%= f.label "郵便番号(ハイフンなし)", class: "col-3" %>
          <%= f.text_field :postal_code, autocomplete: "postal_code", placeholder: "0000000", class: "col-3" %>
        </div>
        <% end %>
    </div>
  </div>
</div>