<div class="container">
  <div class="row">
    <div class="col-sm-8 px-sm-0">
      <p class="text-success mt-3">
        <%= flash[:success] %>
      </p>
      <p class="text-danger mt-3">
        <%= flash[:danger] %>
      </p>
      <h2 class="font-weight-bold mt-5">
        ショッピングカート
      </h2>
    </div>
    <div class="col-sm-3 px-sm-0 text-right">
      <% unless cart_item.blank? %>
        <%= link_to "カートを空にする", cart_items_all_delete_path, class: "btn btn-danger mt-5", id: "all-delete", method: :delete, remote: true, data: { confirm: '削除しますか？' } %>
      <% end %>
    </div>
  </div>

  <% if cart_item.blank? %>
    <div class="text-center">
      <h2>
        カートに商品が入っておりません
      </h2>
      <%= link_to "買い物を続ける", items_path, class: "btn btn-primary mt-3 mb-5" %>
    </div>
  <% else %>
    <div class="row">
      <div class="col-sm-11 px-sm-0">
        <table class="table table-bordered mt-3 mb-5">
          <thead>
            <tr>
              <th class="table-light border-dark bg-light" style="width: 40%">商品名</th>
              <th class="table-light border-dark bg-light" style="width: 15%">単価(税込)</th>
            </tr>
          </thead>
        </table>
      </div>
    </div>
  <% end %>
</div>