<footer>
  <ul>
    <li>
      <!--エラーが発生したためコメントアウト-->
      <!--< % link_to "home", root_path %> |-->
    </li>
    <li>
      <!--エラーが発生したためコメントアウト-->
      <!--< %= link_to "about", about_path %> |-->
    </li>
  </ul>
  <p>© All rights reserved by Takahiro Mashiko.</p>
</footer>