<footer>
  <ul>
    <li>
      <% link_to "home", root_path %> |
    </li>
    <li>
      <%= link_to "about", about_path %> |
    </li>
  </ul>
  <p>© All rights reserved by Takahiro Mashiko.</p>
</footer>