<header>
  <nav>
    <% if admin_signed_in? %>
      <%= link_to "NaganoCake", admin_top_path %>
    <% else %>
      <%= link_to "NaganoCake", root_path %>
    <% end %>
  </nav>
  <nav>
    <ul>
      <!--When the customer is logged in-->
      <% if customer_sign_in? %>

      <!--When the admin is logged in-->
      <% elsif admin_signed_in? %>
        <li>
          
        </li>
        <li>
          
        </li>
        <li>
          
        </li>
        <li>
          
        </li>
        <li>
          
        </li>
      <% end %>
    </ul>
  </nav>
</header>